address = "127.0.0.1"
port = 8080
api_key = "secret"

[connections.conn_1]
kind = "postgres"
host = "localhost"
port = 5432
dbname = "dbname_1" # optional
username = "root"
password = "secret"

[connections.conn_2]
kind = "mysql"
host = "localhost"
port = 3306
dbname = "dbname_2" # optional
username = "root"
password = "secret"
